.topo {
  background: var(--topo-bg-color);
  padding: 10px;
}

.cart {
  padding: 0 10px;
  border: 1px solid black;
  background: var(--cart-bg-color);
}

.menu {
  background: var(--menu-bg-color);
}

.menu .nav-link {
  color: var(--menu-tx-color);
  font-family: "Roboto";
  font-weight: bold;
}

.menu .nav-link:hover {
  color: var(--menu-tx-hover-color);
}
